.form-container h2{
    font-size: 3rem;
   
}

.form-container form {
    max-width: 300px;
    margin-bottom: .5rem;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.form-options a{
    color: var(--color-text);
    font-size: .8rem;    
}


.checkbox-container {
    display: flex;
    align-items: center;
}
.form-options label{
    margin-left: .3rem;
    font-size: .8rem;
}

.form-container .goBackLink {
    display: block;
    margin-top: .5rem;
    font-size: .8rem;
    color: var(--color-text);
}