.nav {
    display: flex;    
    align-items: center;
    
    position: absolute;
    top: 1rem;
    right: 3rem;

}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav ul a {
    text-decoration: none;
    padding: .5em 1em;
    text-transform: uppercase;
    color: var(--color-brown-dark);
    position: relative;
    margin: 0 .5em;
}

.nav ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;

    transition: transform 250ms ease-in;
}

.nav ul a:hover::after{    
    transform: scaleX(1);
    transform-origin: left;
}


.nav ul .donate {
    border: 1px solid var(--color-brown-dark);
    margin: 0 1rem 0 .5rem;
    position: relative;
    transition: color 400ms;
}

.nav ul .donate:hover {
    color: #fff;    
}

.nav ul .donate::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: var(--color-brown-dark);
    z-index: -1;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
}

.nav ul .donate:hover::after{    
    transform: scaleX(1);
    transform-origin: left;
}









.nav img {
    width: 50px;    
}