:root {
  --color-brown-light: #dfad6a;
  --color-brown-dark: #b86c40;
  --text-color: #0c140c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button {
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

button {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-brown-dark);
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}
